.App {
  text-align: center;
  height: 100%;
}

/* .about-me-container {
  width: 100%;
  background: radial-gradient(
    closest-side,
    rgba(0, 0, 0) 75%,
    rgba(6, 22, 168)
  );
  /* linear-gradient(336deg, rgba(6, 22, 168), rgba(0, 0, 0)), */
/* linear-gradient(127deg, rgba(6, 22, 168), rgba(0, 0, 0)); */
/* background: linear-gradient(rgba(6, 22, 168), rgba(0, 0, 0)); */
/* } */

.content {
  background-color: rgba(0, 0, 0);
  border-radius: 25px;
  color: rgba(255, 255, 255);
  /* height: 30%; */
  width: 75%;
  /* height: 100%; */
  z-index: 1;
}

.card-text {
  margin: 2px !important;
  padding: 2px !important;
}

.portfolio-link {
  position: absolute;
  bottom: 15px;
  left: 30px;
  text-align: center;
  border: 3px solid black;
  background-color: rgba(0, 128, 128, 0.5);
  color: white;
  width: 90%;
}

.img-responsive {
  position: relative;
  left: 10px;
  width: 100%;
  border: 2px solid teal;
}

#rotatingTextButton {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.rotatingText {
  font-family: "Arial", "sans-serif";
  font-size: 24px;
  text-align: center;
  font-style: italic;
  width: 100%;
}

.rotatingText-adjective {
  font-family: "Open-sans", "sans-serif";
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  left: 0;
  right: 0;
  top: 70px;
  margin-bottom: 0;
  margin-top: 30px;
  opacity: 0;
}

@keyframes rotate {
  0% {
    opacity: 0;
    animation-timing-function: linear;
  }

  2%,
  6% {
    opacity: 1;
    height: 60px;
  }

  10% {
    opacity: 0;
    height: 60px;
  }

  100% {
    opacity: 0;
    animation-timing-function: linear;
  }
}

.rotatingText-1 {
  animation-name: rotate;
  animation-duration: 56s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
  /* animation-delay: 0s; */
}

.rotatingText-adjective:nth-of-type(2) {
  animation-delay: 4s;
}

.rotatingText-adjective:nth-of-type(3) {
  animation-delay: 8s;
}

.rotatingText-adjective:nth-of-type(4) {
  animation-delay: 12s;
}

.rotatingText-adjective:nth-of-type(5) {
  animation-delay: 16s;
}

.rotatingText-adjective:nth-of-type(6) {
  animation-delay: 20s;
}

.rotatingText-adjective:nth-of-type(7) {
  animation-delay: 24s;
}

.rotatingText-adjective:nth-of-type(8) {
  animation-delay: 28s;
}

.rotatingText-adjective:nth-of-type(9) {
  animation-delay: 32s;
}

.rotatingText-adjective:nth-of-type(10) {
  animation-delay: 36s;
}

.rotatingText-adjective:nth-of-type(11) {
  animation-delay: 40s;
}

.rotatingText-adjective:nth-of-type(12) {
  animation-delay: 44s;
}

.rotatingText-adjective:nth-of-type(13) {
  animation-delay: 48s;
}

.rotatingText-adjective:nth-of-type(14) {
  animation-delay: 52s;
}

@media screen and (min-width: 768px) {
  .rotatingText-adjective {
    position: absolute;
    left: 460px;
    right: 120px;
    top: 29px;
    margin-bottom: 0;
  }
  .centerMainRotate {
    position: absolute;
    left: 0px;
    right: 170px;
    top: 73px;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 740px) {
  .footer__email-text {
    visibility: hidden;
  }
  .icons-footer__email-large-width {
    visibility: hidden;
  }
}
