html body {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(6, 22, 168) linear-gradient(rgb(6, 22, 168), rgba(0, 0, 0));
  padding-bottom: 30px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

p {
  font-family: "Helvetica", "sans-serif";
  font-size: 17px;
}

.portfolio-table__UL-fontSize {
  font-size: 10px;
  width: 100%;
}

.portfolio-card__horizontal-tech {
  padding: 5px;
  font-family: "Roboto", "sans-serif";
  font-size: 12px;
}

.portfolio-table__deployed-link {
  font-size: 15px;
  font-family: "Arial", "sans-serif";
  font-weight: 700;
  margin-top: 5px;
}

.footer__button-link {
  text-align: center;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  width: 100%;
  margin-bottom: 20px;
  /* text-decoration: underline; */
}

.icons-footer__email {
  margin-right: 3px;
  margin-top: 7px;
}

.footer__email-text {
  padding-left: 3px;
}
