#mySideNav {
  position: fixed; /* Position them relative to the browser window */
  left: -10px; /* Position them outside of the screen */
  transition: 0.3s; /*Add transition on hover*/
  /* padding: 5px; */
  top: 40%;
  /* width: 200px; */
  height: 50px;
  color: blue;
  border-radius: 5px;
  background-color: rgb(5, 22, 180);
  /* writing-mode: vertical-rl;
  text-orientation: mixed; */
  vertical-align: top;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  text-decoration: none;
  letter-spacing: 0.3em;
  text-indent: 0.3em;
  margin: 0.5em;
  font-size: 5px;
  font-family: "Roboto", sans-serif;
  z-index: 2;
  /* letter-spacing: 0.3em; */
  /* text-indent: 0.3em; */
  /* margin: 0.5em; */
  /* font-size: 20px; */
  /* font-family: "Roboto", sans-serif; */
}

#mySideNav:hover {
  /* animation: jello 2s infinite linear; */
  /* transform: rotate(7deg);
  -ms-transform: rotate(270deg); /* IE 9 */
  /* -moz-transform: rotate(270deg); Firefox */
  /* -webkit-transform: rotate(270deg);  */
  -ms-transform: rotate(270deg) scale(1.5); /* IE 9 */
  -moz-transform: rotate(270deg) scale(1.5); /* Firefox */
  -webkit-transform: rotate(270deg) scale(1.5);
  transform: rotate(270deg) scale(1.5);
  left: -65px;
  cursor: pointer;
  color: white;
  letter-spacing: 0.15em;
  text-indent: 0.3em;
  margin: 0.2em;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  z-index: 2;
  /* -ms-transform: rotate(270deg) translate(3em, 0); IE 9 */
  /* -moz-transform: rotate(270deg) translate(3em, 0); Firefox */

  /* animation-duration: 2s; */
  /* left: 0px; */
}

/* .vertText {
  vertical-align: top;
  transform: rotate(7deg);
  -ms-transform: rotate(90deg); /* IE 9 */
/*-moz-transform: rotate(90deg); /* Firefox */
/*-webkit-transform: rotate(90deg);
} */
